*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f0f1f1;
}
a{
	text-decoration: none;
	color: #a0a0a0;
}
li{
	list-style: none;
}
.center{
	width: 1100px;
	margin: 0 auto;
}
header{
	height: 48px;
	background-color: #323232;
}
.head{
	position: relative;
}
.head:after{
	content: "";
	display: block;
	clear: both;
}
#headerimg{
	position: absolute;
	z-index: 999;
}
.headleft{
	width: 522px;
	height: 48px;
	padding-left: 216px;
	float: left;
}
.headleft ul:after{
	content: "";
	display: block;
	clear: both;
}
.headleft li{
	text-align: center;
	font-size: 13px;
	line-height: 48px; 
	float: left;
}
.headleft li a{
	display: block;
	width: 87px;
}
/*..............................二级导航*/
.headleft .shouyeli{
	position: relative;
}
.shouyeerji{
	width: 87px;
	/*border: 1px solid #ddd;*/
	border-top: none;
	line-height: 38px;
	background-color: #555;
	position: absolute;
	z-index: 999;
	display: none;
	/*left:-1px;*/
}
.headleft .shouyeli:hover .shouyeerji{
	display: block;
	z-index: 999;
}
.shouyeerji p:hover{
	background-color: #dd4012;
}
/*................................*/
#anliye{
	background-color: #dd4012;
}
#anliye a{
	color: #fff;
}
.headleft li:hover{
	background-color: #dd4012;
}
.headleft li:hover a{
	color: #fff;
}
.headright{
	width: 272px;
	float: right;
	display: flex;
	line-height: 48px;
	justify-content:space-between;
	cursor: pointer;
}
.headright .onea{
	font-size: 12px;
}
.headright .onea:hover{
	text-decoration: underline;
	color: #dd4012;
}
/*........................背景图编辑*/
.headright .hrfove{
	display: inline-block;
	width: 17px;
	height: 48px;
	background-image: url(../images/dianhua.png);
	background-position: 1px 17px;
	background-repeat: no-repeat;
}
.headright .hrone{
	display: inline-block;
	width: 19px;
	height: 48px;
	background: url(../images/qq.png);
	background-position: 1px 16px;
	background-repeat: no-repeat;
}
.headright .hrone:hover{
	background: url(../images/qq2.png);
	background-repeat: no-repeat;
	background-position: 1px 16px;
}
.headright .hrtwo{
	display: inline-block;
	width: 24px;
	height: 48px;
	background-image: url(../images/weibo.png);
	background-repeat: no-repeat;
	background-position: 1px 16px; 
}
.headright .hrtwo:hover{
	background: url(../images/weibo2.png);
	background-position: 1px 16px;
	background-repeat: no-repeat;
}
.headright .hrsan{
	display: inline-block;
	width: 23px;
	height: 48px;
	background: url(../images/weixin.png);
	background-position: 1px 16px;
	background-repeat: no-repeat;
}
.headright .hrsan:hover{
	background: url(../images/weixin2.png);
	background-repeat: no-repeat;
	background-position: 1px 16px;
}
.headright .hrfour{
	display: inline-block;
	width: 21px;
	height: 48px;
	background: url(../images/youxiang.png);
	background-position: 1px 16px;
	background-repeat: no-repeat;
}
.headright .hrfour:hover{
	background: url(../images/youxiang2.png);
	background-repeat: no-repeat;
	background-position: 1px 16px;
}
/*......................完结*/
.banner{
	height: 220px;
	background-image:url(../images/buuerr.png);
	position: relative;
}
.banner .bannertiao{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 28px;
	background-color: #000;
	opacity: 0.5;
}
.banner a{
	color: #b0948b;
	font-size: 12px;
}
.banner a:hover{
	color: #fff;
}
.banner span{
	color:#b0948b;
	font-size: 14px; 
}
/*。。。。。。。。。。。。。。。。。。。*/
.nav .navul{
	margin: 25px 0;
}
.nav .navul:after{
	content: "";
	display: block;
	clear: both;
}
.nav .navul li{
	font-size: 12px;
	background-color: #fff;
	float: left;
	margin-right: 5px;
	text-align: center;
	line-height: 26px;
}
.nav .navul li a{
	display: block;
	width: 78px;
	height: 26px;
	color: #555;
}
.nav .navul li:hover{
	background-color: #636363;
}
.nav .navul li:hover a{
	color: #fff;
}
#navli{
	background-color: #636363;	
}
#navli a{
	color: #fff;
}
/*。。。。。。。。。。。。。。。。。。。*/
.main{
	display: flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.mainzhutu{
	width: 261px;
	box-sizing:border-box;
	border: 2px solid #f0f1f1;
	cursor: pointer;
	margin-bottom: 32px;
	transition:transform .5s;
	box-shadow: 0 0 5px #ddd;
	border-radius: 1px;
	background-color: #fff;
}
.mainzhutu:hover{
	/*transform:scale(1.01,1.01);*/
}
.mainzhutu:hover{
	border: 2px solid #dd4012;
}
.mainzhutu img{
	width: 100%;
}
.mainzhutu h4{
	font-size: 16px;
	padding-top: 14px;
	padding-bottom: 10px;
	border-bottom: 1px solid #f0f1f1;
	padding-left: 14px;
}
.mainzhutu h4 a{
	color: #000;
}
.mainzhutu p{
	font-size: 12px;
	padding-top: 6px;
	padding-bottom: 15px;
	padding-left: 13px;
}
.mainzhutu p a{
	color: #888;
}
.mainzhutu p a:hover{
	color:#dd4012 ;
}
.pite{
	width:241px;
	margin: 0 auto; 
	margin-bottom: 41px;
}
.pite ul li{
	float: left;
	background-color: #fff;
	text-align: center;
	line-height: 36px;
	margin-right: 5px;
	cursor: pointer;
}
.pite ul li a{
	display: block;
	width: 36px;
	height: 36px;
	color: #000;
}
.pite ul li:hover{
	background-color: #dd4012;
	color: #fff;
}
.pite ul li a:hover{
	color: #fff;
}
.pite li:nth-of-type(6){
	margin-right: 0;
}
.pite ul:after{
	content: "";
	display: block;
	clear: both;
}
.pite img{
	transition:transform .5s;
}
.pite img:hover{
	transform:scale(1.7,1.7);
}
/*...............................*/
.footer{
	height: 82px;
	background-color: #323232;
}
.footer_c:after{
	content: "";
	display: block;
	clear: both;
}
.footer .footzuo{
	width: 164px;
	height:82px;
	line-height: 52px;
	background-image: url(../images/footer.png);
	background-repeat: no-repeat;
	background-position: 0 23px; 
	cursor: pointer;
	float: left;
}
.footer .footzuo:hover{
	background-image: url(../images/footer2.png);
	background-repeat: no-repeat;
	background-position: 0 23px; 
}
.footer .footyou{
	float: right;
	font-size: 14px;
	margin-top: 28px;
	width: 40%;
}
#footerpone{
	/*width: 100%;*/
	float: right;
}
#footerpone span{
	display: inline-block;
	margin-left: 8px;
}
#footerpone a:hover{
	color: #dd4012;
}
.footxia{
	margin-top: 3px;
	font-size: 12px;
	float: right;
}
.footxia span{
	margin: 0 10px;
	color: #ddd;
	font-size: 10px;
}
.footxia a:hover{
	text-decoration: underline; 
}
/*///////////index2.css//////////////////*/
.cup{
	margin-top: 40px;
}
.cup:after{
	content: "";
	display: block;
	clear: both;
}
.cupzuo{
	width: 110px;
	border-top:1px solid #ddd;
	position: relative;
	text-align: center;
	float: left;
}
.cupzuo img{
	position: absolute;
	left: 0;
	top: 0;
}
.cupzuo .cuppone{
	padding-top: 19px;
	color: #999;
	font-size: 12px;
	padding-bottom: 14px;
}
.cupzuo .cupptwo{
	font-size: 41px;
	font-weight: bolder;
	color: #999;
	padding-bottom: 55px;
}
.cupzuo .cupptwo a:hover{
	color: #dd4012;
}
.cupyou{
	width: 952px;
	float: right;
	border-top: 1px solid #ddd;
}
.cupyou:after{
	content: "";
	display: block;
	clear: both;
}
.cupyou .cupyou_1{
	float: left;
	padding-top: 22px;
	padding-bottom: 32px;
	overflow: hidden;
}
.cupyou_1 img{
	transition:transform .5s;
}
.cupyou_1 img:hover{
	transform:scale(1.05,1.05);
}
.cupyou_2{
	width: 698px;
	float: left;
	padding-left:22px;	
}
.cupyou_2 h4{
	font-size: 18px;
	padding-top: 20px;
	color: #dd4012;
}
.spanzu{
	padding: 9px 0;
}
.spanzu span{
	font-size: 12px;
	margin-left: 13px;
}
.spanzu span a:hover{
	color: #dd4012;
}
.spanzu .cupyouspan{
	margin-left: 0;
}
.cupyou_2 .cupyoup a{
	font-size: 12px;
}
.cupyou_2 .cupyoup a:hover{
	text-decoration: underline;
	color: #555;
}
.cupzuo1{
	border-bottom: 1px solid #ddd;
}
.cupyou1{
	border-bottom: 1px solid #ddd;
}
/*..........................................*/
.bannertwo{
	height: 220px;
	background-image:url(../images/buuerr2.png); 
	background-position: -280px 0;
	position: relative;
}
.bannertwo .bannertiao{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 28px;
	background-color: #000;
	opacity: 0.5;
}
.bannertwo a{
	color: #b0948b;
	font-size: 12px;
}
.bannertwo a:hover{
	color: #fff;
}
.bannertwo span{
	color:#b0948b;
	font-size: 14px; 
}
/*..........index3.....................................*/
.but{
	width: 990px;
	margin-top: 96px;
	margin-bottom: 34px;
	background-color: #fff;
	padding: 44px 58px 60px 52px;
}
.butone h4{
	font-size: 18px;
}
.buttwo{
	overflow: hidden;	
	border-bottom: 	#f0f1f1 1px solid;
	margin-top: 20px;
	padding-bottom: 7px;
}
.buttwo .butyouspan{
	margin: 0;
}
.buttwo .spanzutwo{
	font-size: 12px;
	float: left;
} 
.spanzutwo a:hover{
	color: #dd4012;
}
.butp{
	float: right;
	font-size: 12px;
}
.butxinwen{
	margin-top: 32px;
}
.butxinwen .butpone{
	margin-top: 33px;
	font-size: 14px;
	line-height: 28px;
}
.butxinwen .butpone p{
	color: #333333;
}
.butxinwen .butp_one{
	padding-bottom:43px;
	border-bottom: 1px solid #f0f1f1;
}
/*............................*/
.com{
	overflow: hidden;
	margin-top: 18px;

}
.com a{
	color: #333;
	font-size: 12px;
}
.com a:hover{
	text-decoration: underline;
	color: #dd4012;
}
.com .comzuo{
	font-size: 12px;
	float: left;
	color: #ebebeb;
}
.com .comyou{
	font-size: 12px;
	float: right;
	color: #ebebeb;
}
/*....................index4...........*/
.bannerthree{
	height: 220px;
	background-image:url(../images/buuerr3.jpg); 
	background-position: -280px 0;
	position: relative;
}
.bannerthree .bannertiao{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 28px;
	background-color: #000;
	opacity: 0.5;
}
.bannerthree a{
	color: #b0948b;
	font-size: 12px;
}
.bannerthree a:hover{
	color: #fff;
}
.bannerthree span{
	color:#b0948b;
	font-size: 14px; 
}
.gmb{
	margin-top: 46px;
	overflow: hidden;
}
.gmbzuo{
	width: 200px;	
	background-color: #000;
	float: left;
}
.gmbzuo ul li{
	padding: 11px 0;
	padding-left: 35px;
}
.gmbzuo ul .gmbli{
	background-color: #dd4012;
}
.gmbzuo ul .gmbli a{
	color: #fff;
}
.gmbzuo ul li:hover{
	background-color: #dd4012;
}
.gmbzuo ul li:hover a{
	color: #fff;
}
.gmbzuo ul li a{
	color: #777;
}
.gmbyou{
	float: right;
}